{% extends 'core/home.html' %}

{% block title %}Agregar{% endblock %}

{% block header %}
<h1>Editar</h1>
{% endblock%}

{% block content %}
    <h3>Actualizar datos</h3>
        <div class="containerForm">
        
            {% if 'ok' in request.GET %}
              <p style="font:bold; color:#04AA6D;"><b>infromación agregada satisfactoriamente</b></p>
            {% endif %}
            
            <form action="" method="POST">
                {% csrf_token %}
                {{form}}
                <input type="submit" value="Guardar">
            </form>
        </div>
    
{% endblock %}