{% extends 'core/home.html' %}

{% block title %}Agregar{% endblock %}

{% block header %}
<h1>Agregar propietario</h1>
{% endblock%}

{% block content %}
    <h3>Actualizar Matricula</h3>


        <div class="containerForm">
            {% if 'ok' in request.GET %}
              <p style="font:bold; color:#04AA6D;"><b>Matricula actualizada satisfactoriamente</b></p>
              <a style="font:bold; color:blue;" href="{% url 'pages:pages'%}">Volver</a>
            {% endif %}

            <form action="" method="POST">
                {% csrf_token %}
                {{form.as_p}}
                <input type="submit" value="Guardar">
            </form>
            
        </div>
    
{% endblock %}